body {
  color: #444;
  font-size: 1em;
  font-family: 'DejaVu Sans', 'Bitstream Vera Sans', Verdana, sans-serif;
  line-height: 1.6;
  padding: 0 3em 0 13em;
  width: 40em;
}

div.hr {
  height: 15px;
  background: #fff url(/static/point.gif) no-repeat scroll center;
}

@font-face {
  font-family: "Sorts Mill Goudy";
  src: url("/static/OFLGoudyStM.otf");
}

a {
  color: #444;
}

p {
  margin-bottom: 1em;
}

ul, ol {
  padding: 0;
}

blockquote {
  font-style: italic;
  margin: 0;
}

  blockquote em {
    font-weight: bold;
  }

pre, code {
  font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
               Consolas, Monaco, 'Lucida Console', monospaced;
  font-size: .75em;
}

  pre {
    border: 0.15em solid #eee;
    border-left: 1em solid #eee;
    display: block;
    padding: 1em 1em 1em 2em;
  }

h1 {
  font-size: 1.5em;
  margin: 1.5em 0 1em 0;
}

div.entry-content h1 {
    font-size: 1.5em;
    margin: 0.3 em 0 0.2 em 0;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

img {
  margin: 1em 0 1em 0;
}

table {
  margin-top: 1em;
}

  table th, table td {
    padding-right: 1em;
    text-align: left;
  }
  
  table th a {
    text-decoration: none;
  }

  table th a:hover {
    color: #cc3333;
  }

  table.hanging {
    display: inline;
    float: left;
    padding: 0;
    margin: 1em 1em 1em -10em;
  }

    table caption {
      caption-side: bottom;
      color: #666;
      font-size: .75em;
      padding: 0 1em;
      text-align: left;
    }

      table.hanging img {
        border: .1em solid #ddd;
        margin: 0;
        padding: .5em;
      }

        td.submit {
          text-align: center;
        }
h1 a, h2 a, h3 a, ul.tags a {
  text-decoration: none;
}

h1, h1 a, h2, h2 a, h3 {
  color: #222;
}

  h1 a:hover, h2 a:hover, h3 a:hover {
    color: #c00;
  }

h1, h2, h3, abbr.updated {
  font-family: "Sorts Mill Goudy", Georgia, 'DejaVu Serif', 'Bitstream Vera Serif', serif;
  font-style: normal;
  font-weight: normal;
}

abbr.updated, ul.tags {
  float: left;
}

abbr.updated {           
    border: 0;
    color: #c00;
    font-size: 1.6em;
    /*line-height: 2em;*/
    margin: -0.3em 0 0 -6.25em;
}

ul.tags {
  list-style-type: none;
  margin: 0 0 0 -10em;
}

  ul.tags li {
    display: block;
    font-size: .8em;
    margin-bottom: .3em;
  }

    ul.tags li.active a, ul.tags a:hover {
      color: #c00;
    }

.entry-content a, .comment a{
  color: #c00;
}

.entry-content a:hover, .comment a:hover{
  color: #000;
}

.comment {
  padding:.3em;
  border: 2px solid #ffffff;
}

.comment a{
  text-decoration: none;
}

.comment:hover, .highlight {
  background-color: #fafafa;
  border-radius:.3em;
  -moz-border-radius:.3em;
  -webkit-border-radius:.3em;
  border: 2px solid #eaeaea;
}

.comment-link {
  float: right;
  padding-right: 10px;
  font-size: small;
  visibility: hidden;
}

.comment-author {
  font-weight: bold;
}

p#footer {
  color: #bbb;
  font-size: .75em;
  margin-top: 3em;
  text-align: center;
  text-indent: 0;
}

p#footer a {
  color: #999;
}

#elsewhere {
  margin: 1em;
  position: absolute;
  right: 1em;
  top: .5em;
  z-index: 9000;
  text-align: center;
}

#elsewhere a {
  background: #c00;
  border-radius:.3em;
  -moz-border-radius:.3em;
  -webkit-border-radius:.3em;
  color: #fff;
  display: block;
  margin-bottom: .5em;
  opacity: .9;
  padding: .4em .6em;
  text-decoration: none;
}

#elsewhere a:hover {
  opacity: .6;
}

#about {
 position: fixed;
 bottom: .2em;
 right: 1em;
}

#about a {
 font-size: small;
 display: inline-block;
 padding: 0px .1em;
 text-decoration: none;
}

#about a:hover {
 color: #c00;
}

.notification {
    position: fixed;
    bottom: 4em;
    right: 1em;
    background-color: #fafafa;
    border-radius:.3em;
    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    box-shadow: 0px 0px 8px #000;
    -webkit-box-shadow:0px 0px 8px #000;
    -moz-box-shadow: 0px 0px 8px #000;
    border: 2px solid #eaeaea;
    width: 30em;
    margin: 5px; padding: 3px;
    text-align: center;
    display: none;
    z-index: 10000;
}

.hll { background-color: #ffffcc }
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { font-weight: bold } /* Keyword */
.o { font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { font-weight: bold } /* Keyword.Constant */
.kd { font-weight: bold } /* Keyword.Declaration */
.kn { font-weight: bold } /* Keyword.Namespace */
.kp { font-weight: bold } /* Keyword.Pseudo */
.kr { font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #bb8844 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #999999 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #bb8844 } /* Literal.String.Backtick */
.sc { color: #bb8844 } /* Literal.String.Char */
.sd { color: #bb8844 } /* Literal.String.Doc */
.s2 { color: #bb8844 } /* Literal.String.Double */
.se { color: #bb8844 } /* Literal.String.Escape */
.sh { color: #bb8844 } /* Literal.String.Heredoc */
.si { color: #bb8844 } /* Literal.String.Interpol */
.sx { color: #bb8844 } /* Literal.String.Other */
.sr { color: #808000 } /* Literal.String.Regex */
.s1 { color: #bb8844 } /* Literal.String.Single */
.ss { color: #bb8844 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */
