<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
    <title>Post Redirect</title>
     <script type="text/javascript">
     function load()
     {
          window.document.test.submit();
          return;
     }
     </script>
</head>
<body onload="load()">
<form name="test" method="post" action="{{ url }}" style="display:hidden">
    {% csrf_token %}
    {% for key, value in params.items %}
    <input type="hidden" name="{{ key }}" value="{{ value }}" />
    {% endfor %}
</form>
Redirecting... If doesnt redirect automaticaly, please click this
<a href="" onclick="javascript:load(); return false;">link</a>.
</body>
</html>
