{% load comment_tags %}

{% if comments %}
     <h3> Comments </h3>
{% endif %}
<div id="comments">
{% for comment in comments %}
{% if comment.datetime >= visit_datetime %}
  <p class="comment highlight" id="comment{{comment.id}}"
{% else %}
  <p class="comment" id="comment{{comment.id}}"
{% endif %}
     onmouseover="show_links(this);"
     onmouseout="hide_links(this);">
  
    <a class="comment-link" href="{{ request.path }}#comment{{ comment.id }}">
      link
    </a>
    {% if request.user != comment.user %}
  <a href="#comment-form" class="comment-link"
      onclick="javascript:reply_to('{{ comment.user }}')">
      @reply
    </a>
    {% endif %}
    <a class="comment-author" href="{% url shit:usershit user=comment.user %}">{{comment.user}}</a>
    {{ comment|linebreaksbr|users_highlight}}
</p>
{% if not forloop.last %}
<div class="hr">&nbsp;</div>
{% endif %}

{% endfor %}
</div>
