<script language="JavaScript">
TargetDate = "{{ shitday.get_next_shit_utc }}";
CountActive = true;
CountStepper = -1;
LeadingZero = true;
DisplayFormat = "@{{ usershit }}<br /> get ready for shit in <br />%%D%% Days %%H%%:%%M%%:%%S%%";
FinishMessage = "@{{ usershit }} be ready!<br />Shit Is Here!";
</script>
<script language="JavaScript" src="/static/countdown.js"></script>