{% load shit_tags %}

<div class="hentry">
    <abbr class="updated">
        {{ shit.datetime|date:"Y-m-d" }}
    </abbr>
    <h3>
        <a href="{% url shit:shit user=shit.user.username slug=shit.slug %}"> {{ shit.header }} </a>
    </h3>

    <ul class="tags">
        <li>
            <a href="{% url shit:usershit user=shit.user.username %}" rel="tag">@{{ shit.user }}</a>
        </li>
        <li>
            <a href="{% url shit:shit user=shit.user.username slug=shit.slug %}#comments" rel="tag" >Comments: {{ shit.comment_set.count }}</a>
        </li>

    </ul>


    <div class="entry-content">
         {{ shit.description|rst2html}}
    </div>

</div>
