<div class="hentry">
    <abbr class="updated">
        {{ shit.datetime|date:"Y-m-d" }}
    </abbr>
    <h3>
         <a href="{% url shit:shit user=shit.user.username slug=shit.slug %}" rel="bookmark">{{ shit.header }}</a>
    </h3>
</div>
