{% extends 'base.html' %}

{% block content %}

<h3> Добро пожаловать! </h3>
<p> Journal of shit - это место, где вы сполна можете выразить свой
гнев и обсудить с друзьями, насколько все действительно плохо. </p>

<h4> Вход </h4>
<p> Вход на сайт осуществляется посредством социальной сети twitter. </p>

<h4> Сообщения </h4>
<p> Сообщения, создаваемые пользователями, могут быть опубликованны в
вашем twitter'е. Что позволит вашим друзьям принять участие в
обсуждении. </p>

<h4> Поиск сообщений </h4>
<p> Поиск сообщений происходит благодаря любым поисковым системам
поддерживающим twitter. Для поиска последних сообщений вам стоит
использовать поисковый запрос содержащий хэштег #journalofshit. </p>
{% endblock %}