<form id="upload_form" action="{% url shit:pic_add %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <span>Chose picture you want to upload</span> {{ form.pic }}
  <br />
 <input type="submit" />
</form>
