{% extends 'base.html' %}

{% block extra_head %}
    <link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}form.css'>
{% endblock %}

{% block content %}
<form action="{% url shit:review_submit %}" method="post">
{% csrf_token %}
<table>
    <tr>
        <th>
            Your opinion about service
        </th>
        <td>
	    {{ form.opinion.errors }}
            {{ form.opinion }}
        </td>
    </tr>

    <tr>
        <td colspan=2 class="submit">
            <input type="Submit" value="Post" />
        </td>
    </tr>

</table>
</form>
{% endblock %}
