{% extends 'base.html' %}

{% block extra_head %}
    <link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}form.css'>
    <script language="javascript" src="{{ MEDIA_URL }}comment.js"></script>
    <script>
    $('#id_text').change(function(){
      if($('#id_text').val().match(/@\w+ .+/gim)){
        alert($('label'));
      }else{
        alert('fsd');
      };
    });
    </script>

{% endblock %}

{% block content %}
   {% include 'widgets/entry.html' %}
   {% include 'widgets/comments.html' %}
   <form id="comment-form" name="comment" action="{% url shit:comment user=shit.user slug=shit.slug %}" method="post">
   {% csrf_token %}
   <table>
   
      <tr>
         <th>
            Comment
         </th>
         <td>
            <ul>
               {{ form.text.errors }}
            </ul>
            <textarea name="text" id="id_text"></textarea>
         </td>
      </tr>
      <tr>
	<th colspan=2> <span id="action_label">Post to twitter</span>
	  <input id="twitter" class="checkbox" type="checkbox" name="twitter" />
	</th>
      </tr>
      <tr>
         <td colspan="2" class="submit">
            <input type="submit" value="Post" />
         </td>
      </tr>

   </table>
   
   </form>
{% endblock %}

{% block extra_menu %}
   <a href="#comments">Comments
       {% if new_comments %}
       <strong>{{ new_comments }}</strong>
       {% endif %}
   </a>
{% if shitday %}
<small><strong>
{% include 'widgets/countdown.html' %}
</strong></small>
{% endif %}
{% endblock %}