{% extends 'base.html' %}

{% block extra_head %}
    <link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}form.css'>
    <link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}facebox/facebox.css'>

<script type="text/javascript">
$(document).ready(function(){
    $('a[rel*=facebox]').facebox()
})
</script>  
{% endblock %}

{% block content %}
<form action="{% url shit:shithappens_submit %}" method="post">
{% csrf_token %}
<table>
    <tr>
        <th>
            What happens?
        </th>
        <td>
	    {{ form.header.errors }}
            {{ form.header }}
        </td>
    </tr>

    <tr>
        <th>
            Describe situation
        </th>
        <td>
	    {{ form.description.errors }}
            {{ form.description }}
        </td>
    </tr>
    
    <tr>
        <th colspan="2">
	    <a href="{% url shit:pic_form %}" rel="facebox"> 
	        Upload Image
            </a>
	</th>
    </tr>

    <tr>
        <th colspan=2> Post to twitter
	  <input class="checkbox" type="checkbox" checked name="twitter" />
	</th>
    </tr>
    <tr>
        <td colspan=2 class="submit">
            <input type="Submit" value="Shit Happens!" />
        </td>
    </tr>

</table>
</form>
{% endblock %}
