{% extends 'base.html' %}

{% block extra_menu %}
{% if shitday %}
<small><strong>
{% include 'widgets/countdown.html' %}
</strong></small>
{% endif %}
{% endblock %}

{% block content %}

{% for shit in shits %}
{% if forloop.first %}
    {% include 'widgets/entry.html' %}
{% else %}
    {% include 'widgets/small_entry.html' %}
{% endif %}
{% endfor %}

{% endblock %}
